<mat-toolbar style="display: flex; flex-direction: column; height: 80px">
  <div
    style="
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    "
  >
    <img
      style="height: 70px; width: 150px"
      src="../../../assets/images/Clogo.png"
    />
    <div>
      <div class="circle cursor" [matMenuTriggerFor]="menu">
        <p style="color: #fff; font-size: 14px">RS</p>
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
  <div
    style="
      position: relative;
      bottom: 20px;
      display: flex;
      color: #fff;
      font-size: 12px;
      width: 100%;
      cursor: pointer;
    "
  >
    <span style="display: flex; margin-right: 15px" routerLink="/teacher-panel">
      <mat-icon>home</mat-icon>
      <p>Home</p>
    </span>
    <span style="display: flex; margin-right: 15px" routerLink="/teacher-panel/exams">
      <mat-icon>assessment</mat-icon>
      <p>Exams</p>
    </span>
    <span style="display: flex" routerLink="/teacher-panel/assigment" >
      <mat-icon>assignment_return</mat-icon>
      <p>Assisgment</p>
    </span>
    <span style="display: flex" >
      <mat-icon>report</mat-icon>
      <p>Reports</p>
    </span>
  </div>
</mat-toolbar>
